/* About.module.css */

.aboutSection {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: lightgrey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  
}


.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.content {
  font-size: 1.25rem;
  line-height: 1.6;
}



